<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">StudyRed<span></span></h5>
                        <p>Copyright Studyred © 2025. All rights reserved. </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Contato<span></span></h5>

                        <ul class="social-footer2">


                            <li class=""><a title="instagram" target="_blank"
                                    href="https://www.instagram.com/studyred__/"><img alt="instagram" width="30"
                                        height="30" src="../../assets/instagram.png"></a></li>
                            <li class=""><a title="whatsapp" target="_blank"
                                    href="https://wa.me/558981224685"><img alt="whatsapp" width="30"
                                        height="30" src="../../assets/whatsapp.png"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>Desenvolvido por: 
                        <a href="https://github.com/Gilvan-Saraiva" target="_blank">
                            <img src="../../assets/github.png" alt="GitHub 1" width="20">
                            Gilvan Saraiva
                        </a> |
                        <a href="https://github.com/junioramaral22" target="_blank">
                            <img src="../../assets/github.png" alt="GitHub 2" width="20">
                            Junior Amaral
                        </a>
                    </p>                    
                </div>
            </div>
        </div>
    </div>
</footer>