<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Redação Descomplicada</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ações
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="isAdmin()"><a class="dropdown-item" href="postar">Postar</a></li>
            <li *ngIf="isAluno()"><a class="dropdown-item" href="class">Materiais</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Fag</a></li>
          </ul>
        </li>
      </ul>

      <!-- Exibe o nome do usuário e o botão de logout se estiver autenticado -->
      <form class="d-flex" role="search">
        <button *ngIf="isAuthenticated()" class="btn btn-outline-light" type="button" (click)="logout()">Sair</button>
        <button *ngIf="!isAuthenticated()" class="btn btn-outline-light" type="button" (click)="redirectToLogin()">Login</button>
        <span *ngIf="isAuthenticated()" class="navbar-text ms-3">{{ getUserName() }}</span>
      </form>

    </div>
  </div>
</nav>
