<div *ngFor="let material of materiais">
  <h3>{{ material.title }}</h3>
  <p>{{ material.description }}</p>

  <!-- Renderizar os vídeos -->
  <div *ngFor="let videoId of material.youtubeURL">
    <iframe
      width="560"
      height="315"
      [src]="getVideoUrl(videoId)"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  <!-- Renderizar os PDFs com botão de download -->
  <div *ngFor="let pdf of material.pdfPath">
    <button (click)="downloadPdf(pdf)">Baixar PDF</button>
  </div>
</div>
